html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

.game-over {
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
}

.game-over h1 {
    color: #fff;
}

.inner-game-over {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.player-ui{
    width: 100%;
    height: 150px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.health-points {
    width: 33%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.score {
    width: 33%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hp-container{
    width: 250px;
    height: 70px;
    border:2px solid black;
}

.hp-bar{
    background-color: green;
    height: 100%;
    width: 100%;
}

